# Local configuration file (sdk path, etc)
local.properties

# Intellij project files
*.iml
*.ipr
*.iws
.idea/*
!.idea/codeStyleSettings.xml
*.apk

# Gradle files
.gradle/
build/

.DS_Store
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries